---
layout: base.njk
---

<div class="container-fix-sm">

  <h1 class="section-title">{{ title }}</h1>

  <div class="collection-wrapper masonry-grid d-flex flex-column gap-2">
    {%- for item in collections[colname + "_" + locale] -%}
      <div class="card card-hover card-collection-item grow">
        <div class="card-body">
          <h4 class=" fw-bold mb-3">{{item.data.title | safe}}</h4>
          {% if colname == 'hirek' %}
            <h6 class="card-subtitle">{{ item.data.date | date('YYYY. MM. DD.') }}</h6>
          {% endif %}
          <p class="card-text mt-3 mb-4">{{item.data.content | stripHtml | truncate }}</p>
          <a href="{{item.url}}" class="stretched-link button-readmore">{{ 'readmore' | i18n }}</a>
        </div>
      </div>
    {%- endfor -%}
  </div>

</div>