---
layout: base.njk
---
<div class="container-lg">
    <div class="row justify-content-center">
        <div class="">

            <div class="card mt-5 p-5">
                <h1 class="mb-3">{{title}}</h1>
                <div>
                    <a href="mailto:{{email}}" class="link-purple ms-2">
                        <i class="bi bi-envelope-at me-2"></i>
                        <span>{{email}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>