---
layout: base.njk
---

{% for hir in collections.hirek_hu %}
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">{{hir.data.title | safe}}</h4>
        <p class="card-text">{{hir.data.content | safe}}</p>
    </div>
</div>

{% endfor %}
