---
layout: base.njk
---
<div class="container-fluid">
    <div class="row justify-content-center align-items-center bg-light" id="mission-row">
        <div class="col-md-4">
            <img src="/static/img/logo.png" class="img-fluid float-end">
        </div>
        <div class="col-md-6">
            
            <p id="mission">Nunc condimentum elementum augue nec bibendum. Integer quis mi sapien. Nam eu mauris ac lacus pharetra pretium. Donec sit amet lorem et lectus blandit euismod vel ut odio. In hac habitasse platea dictumst. Donec nisi ipsum, euismod eu facilisis non, sagittis sed est. Nulla a metus at ipsum gravida porta dignissim at orci. In malesuada diam fermentum, suscipit lectus nec, lacinia ligula. Fusce in leo non justo ultricies tristique sed ultrices risus.</p>
            
            <a href="/hu/kutatok/" class="btn btn-light">Kutatócsoportunkról bővebben...</a> {# TODO legyen locale-függő link #}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="pt-5 pb-3">Legfrissebb</h1>
            {% for hir in collections.hirek_hu %}
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{hir.data.title}}</h4>
                    {# TODO normálisabb dátum-formátum #}
                    <h6 class="card-subtitle mb-2 text-muted">{{ hir.data.date | safe }}</h6>
                    <p class="card-text text-truncate">{{ hir.data.content | safe}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>