---
layout: base.njk
---

{% set gobackTitle = "Publikációk" %}
{% set gobackUrl = "/hu/publikaciok/" %}


<div class="container-fluid">
<div class="row justify-content-center">
	<div class="col-md-10 col-lg-8 pt-5">
		{% goback gobackUrl, gobackTitle %}
		<h1 class="title-withback">{{ title }}</h1>
		{% if date %}
			<h6 class="subtitle">{{ date | date('YYYY. MM. DD.')}}</h6>
		{% endif %}
		{{ content | safe }}
	</div>
</div>
</div>