---
layout: base.njk
---

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <h1 class="title">{{ title }}</h1>
            {% for proj in collections[ "proj_" + locale] %}

                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{proj.data.title | safe}}</h4>
                        <h6 class="card-subtitle text-muted">{{ proj.data.date | date('YYYY. MM. DD.')}}</h6>
                        <p class="card-text">{{proj.data.content | safe}}</p>
                        <a href="{{proj.url}}" class="stretched-link link-tatk">{{ 'readmore' | i18n }}</a>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
</div>