:root {
  --logo-lila: hsl(274, 71%, 35%);
  --logo-lila-dark: hsl(274, 71%, 23%);
  --logo-lila-light: hsl(274, 50%, 90%);
  --logo-narancs: hsl(41, 100%, 49%);
  --logo-narancs-dark: hsl(41, 100%, 20%);
  --pewter-blue: hsl(202, 21%, 64%);
  --pewter-blue-light: hsl(202, 21%, 80%);
  --steel-teal: #588b8b;
  --bottle-green: hsl(164, 70%, 24%);
  --bottle-green-light: hsl(164, 20%, 95%);
  --bottle-green-lightest: hsl(164, 40%, 95%);

  --fire-opal: #de6449;
  --cadet-blue: hsl(180, 34%, 48%);
  --cadet-blue-light: hsl(180, 34%, 80%);
  --british-racing-green: #254d32;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.lgs-active:hover {
  color: black;
}

.link-tatk {
  color: var(--logo-lila);
  text-decoration: none;
}

.link-tatk:hover {
  color: var(--logo-lila-dark);
}

.card:hover {
  background-color: var(--bottle-green-light);
}

#mission-row {
  padding: 6rem 0;
}

.goback {
  color: var(--steel-teal);
  text-decoration: none;
  font-size: 1.25em;
  padding-bottom: 1rem;
}

.goback:hover {
  color: var(--bottle-green);
}

.subtitle {
  color: gray;
}

.kutato-link {
  text-decoration: none;
  color: black;
}

.kutato-link:hover {
  color: black;
}

.article-header {
  /* margin-top: 5rem; */
  padding-bottom: 2rem;
}

pre {
  background-color: #fafafa;
  padding: 1rem;
}

.kutato-md {
  display: none;
}

.kutato-profil {
  width: 7rem;
  float: right;
}

@media (min-width: 768px) {
  .kutato-profil {
    width: 12rem;
  }

  #kutato-small {
    display: none;
  }

  .kutato-md {
    display: block;
  }
}

footer {
  padding: 1rem;
}

.collapse.show {
  margin-left: 1rem;
}

.nav-item {
  margin: 0 0.7rem;
  font-size: 1.1em;
}

.nav-link.active {
  color: var(--logo-lila-dark) !important;
}

h1 {
  color: var(--bottle-green);
}

.subsection-title {
  color: var(--bottle-green);
}

.section-title {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
