:root {
    --tatk-lila: #9063cd;
    --tatk-lila-dark: #5d329a;
}

.lgs-active:hover {
    color: black;
}

.link-tatk {
    color: var(--tatk-lila);
    text-decoration: none;
}

.link-tatk:hover {
    color: var(--tatk-lila-dark)
}

.card:hover {
    background-color: lightgray;
}

#mission-row {
    padding: 6rem 0;
}

.goback {
    color: var(--tatk-lila);
    text-decoration: none;
    font-size: 1.25em;
    padding-bottom: 1rem;
}

.goback:hover {
    color: var(--tatk-lila-dark);
}

.subtitle {
    padding-bottom: 2rem;
    color: gray;
}

.kutato-link {
    text-decoration: none;
    color: black;
}

.kutato-link:hover {
    color: black;
}

.article-header {
    margin-top: 5rem;
    padding-bottom: 2rem;
}

pre {
    background-color: #fafafa;
    padding: 1rem;
}