$tatk-lila: #9063cd;

.lgs-active:hover {
    color: black;
}

.link-tatk {
    color: $tatk-lila;
    text-decoration: none;
    
    &:hover {
        color: #5d329a;
    }
}

.card:hover {
    background-color: lightgray;
}

#mission-row {
    padding: 12rem 0;
}

.goback {
    color: $tatk-lila;
    text-decoration: none;
    font-size: 1.25em;
    &:hover {
        color: #5d329a;
    }
}

.title {
    margin-top: 1rem;
}

.subtitle {
    padding-bottom: 2rem;
    color: gray;
}

.kutato-link {
    text-decoration: none;
    color: black;
    &:hover {
        color: black;
    }
}