    <nav class="navbar sticky-top navbar-expand-md bg-white ">
        <a href="/hu/" class="navbar-brand">
            <img src="/static/img/logo.png" class="d-inline-block mx-auto ms-3" alt="Logo" height="24" >
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {# TODO aloldalakon is legyen active a nav-link #}
                {% for item in mainnav %}
                    <li class="nav-item">
                        <a class="nav-link {{'active' if page.url == item[locale].link }}" href="{{ item[locale].link }}">{{ item[locale].label }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav">

                {%- for lgg in site.languages -%}
                    
                    {% set translatedUrl = "/" + lgg.code + "/" -%}
                    
                    {% for item in collections.all -%}
                        {% if item.data.ref == ref and item.data.locale == lgg.code -%}
                            {% set translatedUrl = item.url -%}
                        {% endif -%}
                    {% endfor -%}

                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if locale == lgg.code}}" href="{{ translatedUrl }}" rel="alternate" hreflang="{{lgg.code}}">{{ lgg.label }}</a>
                    </li>

                {%- endfor -%}

            </ul>
        </div>
    </nav>

{# TODO összecsukáskor jobb oldalra kerül lgs, mehetne rögtön balra a menügombtól#}